<!DOCTYPE html>
<html>
	<head>
		<title></title>
		 
		 
		 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" /> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
		
		  
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="padding-right:5%;">
   <div class="navbar-header">
      <a class="navbar-brand" href="/"> Unicef Uganda Eroster </a>
   </div>
   <div>
  
   </div>
</nav>

<div class="container">
{% block content %}


<br/><br/><br/><br/>
<div class="alert alert-info">
   <a href="#" class="close" data-dismiss="alert">
      &times;
   </a>
   <p> <h3><strong>Logged out!</strong></h3> </p>
<p><h4>Please click here to go back  <a href="{% url 'auth_login' %}" style="color:#00000">  Log in </a></h4></p>

</div>

{% endblock %}
</div>
</body>
</html>
